version: 2.1

jobs:
  build:
    docker:
      - image: ubuntu:22.04
    
    steps:
      - checkout
      
      - run:
          name: Install dependencies
          command: |
            apt-get update
            apt-get install -y build-essential cmake libsfml-dev g++
      
      - run:
          name: Create build directory
          command: mkdir build
      
      - run:
          name: Configure CMake
          command: cd build && cmake ..
      
      - run:
          name: Build project
          command: cd build && cmake --build .

workflows:
  version: 2
  build:
    jobs:
      - build
